:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    /* Size */
    --padding: 12px;
    --avatar-size: 36px;

    /* Font size */
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*패딩이나 마진을 줬을 때 그것이 포함되어서 사이즈가 결정*/
}

body {
    font-family: Roboto;
}

ul {
    list-style: none;
}

button,
button:focus { /*버튼과 버튼을 클릭했을 떄*/
    border: none;
    cursor: pointer;
    outline: none;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo {
    font-size:var(--font-large);
}

header .logo i {
    color: var(--red-color);
}

header .icons .fa-search {
    margin-right: var(--padding);
}


/* Video Player */
.player {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--black-color);
}

.player video {
    width: 100%; /*아이템을 반응형으로 만드려면 %을 이용*/
    height: 100%;
    max-width: 1000px;
}

/* Video Info */
body > .info {
    padding: var(--padding);
}

.info .metadata .hashtags {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

.info .metadata .hashtags li {
    margin-right: var(--padding); /*이름이 안 맞긴 하지만 나중에 바꿔도 되니까*/
}

.info .metadata .titleAndButton {
    display: flex;
}

.info .metadata .titleAndButton .title {
    font-size: var(--font-medium);
    margin-right: var(--padding);
}
 
.info .metadata .titleAndButton .title.clamp { /*타이틀이 clamp라는 클래스가 생길 때 */
    display: -webkit-box; /*css line clamp 구글링해서 코드 복사한 부분 시작*/
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 복사한 코드에서 이 부분만 2줄로 바꿈 */
    overflow: hidden; /*css line clamp 구글링해서 코드 복사한 부분 끝*/
}

.info .metadata .titleAndButton .moreBtn {
    height: 100%; /*버튼이 위로 올라오도록*/
    transition: transform 300ms ease-in-out; /*재밌게 애니메이션 넣기*/
}

.info .metadata .titleAndButton .moreBtn.clicked {
    transform: rotate(180deg);
}

.info .views {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

/* Action Buttons */
.info .actions {
    display: flex;
    justify-content: space-around; /*간격 골고루*/
    margin: var(--padding) 0; /*위아래로 패딩 넣고 양옆은 없앰*/
}

.info .actions button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.info .actions button i {
    margin: 0 auto; /*아이템이 중간에 오는 꿀팁. 위아래는 9 양옆은 auto*/
    margin-bottom: calc(var(--padding) / 2); /*정의한 padding값의 절반크기만 padding 넣기. 위의 margin 값을 overwriting함*/
    font-size: 16px;
}

.info .actions button i.active {
    color: var(--blue-color);
}

/* Channel Description */
.info .channel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
    
}

.info .channel .metadata {
    display: flex;
    align-items: center;
}

.info .channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.info .channel .metadata .info {
    display: flex;
    flex-direction: column;
}

.info .channel .metadata .info .name {
    font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.info .channel .subscribe {
    text-transform: uppercase; /*영어 대문자 표시*/
    color: var(--red-color);
    font-size: var(--font-medium);
}

/* Up Next */
.upNext {
    padding: 0 var(--padding);
}   

.upNext > .title { /* upNext 클래스에 바로 따라오는 title에만 적용 */
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    margin-bottom: calc(var(--padding) / 2);
}

.upNext .item {
    display: flex;
    margin-top: var(--padding);
}

.upNext .item .img {
    flex: 1 1 35%;
    margin-right: var(--padding);
}

.upNext .item .img img {
    width: 100%;
}

.upNext .item .info {
    flex: 1 1 60%;
}

.upNext .item .moreBtn {
    flex: 1 1 5%;
}

.upNext .item .info {
    display: flex;
    flex-direction: column;
}

.upNext .item .info .title {
    font-size: var(--font-small);
}
.upNext .item .info .name,
.upNext .item .info .views {
    font-size: var(--font-micro);
    color: var(--grey-dark-color);
}

.infoAndUpNext {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .infoAndUpNext {
        flex-direction: row;
        margin: var(--padding) 0;
    }
}